/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');

/* Variables */
:root {
    --very-ligth-pink: #C7C7C7;
    --text-input-field: #cecccc;
    --hospital-green: #ACD9B2;
    --white: #FFFFFF;
    --black: #000000;
    --dark: #232830;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

/*Login*/
body {
    margin: 0px;
    font-family: 'Quicksand', sans-serif;
}

.login {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

.login__form-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
}

.login__img {
    width: 150px;
    margin-bottom: 48px;
    justify-self: center;
    display: none;
}

.login__form {
    display: flex;
    flex-direction: column;
}

.login__email {
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 8px;
}

.login__password {
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 8px;
}

.input {
    background-color: var(--text-input-field);
    border: none;
    border-radius: 8px;
    height: 30px;
    font-size: var(--md);
    padding: 6px;
    margin-bottom: 30px;
}

.primary-button {
    background-color: var(--hospital-green);
    color: var(--white);
    cursor: pointer;
    border: none;
    width: 100%;
    height: 60px;
    font-size: var(--md);
    font-weight: bold;
    border-radius: 10px;
}

.login__form a {
    color: var(--hospital-green);
    font-size: var(--sm);
    text-decoration: none;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 80px;
    box-sizing: border-box;
}

.second-button {
    background-color: var(--white);
    color: var(--hospital-green);
    cursor: pointer;
    width: 100%;
    height: 60px;
    font-size: var(--md);
    font-weight: bold;
    border: 1px solid var(--hospital-green);
    border-radius: 10px;
}

/*HomePage navbar*/

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    border-bottom: 1px solid var(--text-input-field);
}

.menu {
    display: none;
    margin-left: 20px;
}

.navbar-left {
    display: flex;
    align-items: center;
    margin: 0px 0px 0px 20px;
}

.navbar-rigth {
    display: flex;
    align-items: center;
}

.logo {
    width: 120px;
}

.navbar-left ul {
    display: flex;
    align-items: center;
    margin: 0px 0px 0px 20px;
    padding: 0px;
}

.navbar-rigth ul {
    display: flex;
    align-items: center;
    padding: 0;
}

.navbar-left ul li {
    margin-right: 20px;
    list-style: none;
}

.navbar-left ul li a {
    text-decoration: none;
    color: var(--very-ligth-pink);
}

.navbar-left ul li a:hover {
    color: var(--hospital-green);
    border: 1px solid var(--hospital-green);
    padding: 2px 5px;
    border-radius: 10px;
}

.navbar-rigth ul li {
    list-style: none;
    margin-right: 20px;
    font-size: var(--sm);
    font-weight: 100;
    cursor: pointer;
}

.navbar-shopping-cart {
    position: relative;
}

.navbar-shopping-cart div {
    font-weight: bold;
    position: absolute;
    top: -2px;
    right: 1px;
    font-size: 11px;
    background-color: var(--hospital-green);
    border-radius: 50%;
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Desktop Menu*/
.desktop-menu {
    position: absolute;
    top: 48px;
    right: 96px;
    width: 120px;
    height: auto;
    border: 1px solid var(--very-ligth-pink);
    border-radius: 8px;
    padding: 6px 20px 20px 20px;
    background: white;
}

.desktop-menu ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.desktop-menu ul li {
    text-align: end;
    padding-top: 20px;
    padding-bottom: 10px;
}

.desktop-menu ul li:last-child {
    border-top: 1px solid var(--very-ligth-pink);
    padding: 20px 10px 0px 0px;
}

.desktop-menu ul li:nth-child(2) {
    padding-bottom: 30px;
}

.desktop-menu ul li:last-child a {
    color: var(--hospital-green);
    font-size: var(--sm);
}

.desktop-menu ul a {
    text-decoration: none;
    font-weight: bold;
    color: var(--black);
}

/*Mobile Menu*/
.mobile-menu {
    display: flex;
    flex-direction: column;
    padding: 40px 40px 0px 40px;
    height: 100%;
}

.mobile-menu ul {
    padding: 0px;
}


.mobile-menu li {
    list-style: none;
    padding-bottom: 30px;
}

.mobile-menu a {
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
    font-size: var(--lg);
}

.my-section1 {
    border-top: 0.5px solid var(--very-ligth-pink);
    padding-top: 30px;
}

.my-section2 {
    margin: 0px;
}

.my-section2 li {
    padding-bottom: 0px;
    padding-top: 8px;
}

.my-section2 li:first-child a {
    color: var(--very-ligth-pink);
    font-weight: 400;
    font-size: var(--sm);
}

.my-section2 li:last-child a {
    color: var(--hospital-green);
}

/* shopping-cart */
.product-details {
    width: 360px;
    padding: 0 24px 24px 24px;
    box-sizing: border-box;
    position: absolute;
    right: 0px;
}

.title-container {
    display: flex;
    padding-left: 8px;
    margin-bottom: 20px;
}

.title-container img {
    transform: rotate(180deg);
    margin-right: 20px;
}

.my-order {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

.title {
    font-size: var(--lg);
    font-weight: bold;
    /* margin-bottom: 40px; */
}

.my-order-content {
    width: 100%;
}

.my-order-content-summary {
    background-color: var(--text-input-field);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    height: 64px;
}

.my-order-content-summary p {
    padding: 0px 15px 0px 15px;
    color: var(--black);
    font-weight: bold;
}

.my-order-content-summary p:first-child {
    display: flex;
    flex-direction: column;
    margin: 12px 0px;
}

.my-order-content-summary span:first-child {
    font-weight: bold;
    margin-bottom: 2px;
}

.shopping-cart {
    display: flex;
    justify-content: space-between;
    border-radius: 16px;
    align-items: center;
    margin-bottom: 20px;
}

.shopping-cart figure {
    display: flex;
    align-items: center;
    margin: 0px;
}

.shopping-cart figure>img:first-child {
    width: 64px;
    height: 64px;
    border-radius: 20px;
}

.shopping-cart figure p {
    margin-left: 20px;
    font-size: var(--sm);
    font-weight: 100;
}

.shopping-cart div {
    display: flex;
    align-items: center;
}

.shopping-cart div p {
    font-weight: bold;
    margin-right: 20px;
}

.shopping-cart div img {
    width: 14px;
    height: 14px;
}

.primary-button {
    background-color: var(--hospital-green);
    color: var(--white);
    cursor: pointer;
    border: none;
    width: 100%;
    height: 60px;
    font-size: var(--md);
    font-weight: bold;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

/* homePage */
.card-container{
    --card-size: 240px;
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--card-size));
    gap: 26px;
    place-content: center;
    padding: 20px;
}
.product-card{
    width: var(--card-size);
}
.product-card img{
    width: 100%;
    height: var(--card-size);
    border-radius: 20px;
    object-fit: cover;
    cursor: pointer;
}
.product-card div p:nth-child(1){
    font-weight: bold;
    margin: 4px 0 6px 0;
}
.product-card div p:nth-child(2){
    margin: 0px;
    color: var(--very-ligth-pink);
}
.product-card figure {
    margin: 0px;
    cursor: pointer;
}
.product-card figure img {
    width: 35px;
    height: 35px;
}
.product-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* product details */

.product-details2 {
    width: 360px;
    padding-bottom: 24px;
    position: absolute;
    right: 0px;
    top: 49px;
}
.product-details2-close {
    width: 30px;
    height: 30px;
    background-color: var(--white);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 15px;
    left: 10px;
    cursor: pointer;
}
.product-details2-close img{
    cursor: pointer;
}
.product{
    width: 100%;
    height: 360px;
    object-fit: cover;
    border-radius:0px 0px 20px 20px;
}
.product-info2 {
    margin: 0px 24px;
}
.product-info2 p:first-child {
    font-weight: bold;
    margin: 30px 0px 5px 0px;
}
.product-info2 p:nth-child(2) {
    color: var(--very-ligth-pink);
    margin: 0px 0px 10px 0px;
}
.product-info2 p:nth-child(3) {
    color: var(--very-ligth-pink);
    font-size: var(--sm);
    margin: 20px 0px 40px 0px;
}
.primary-button{
    background-color: var(--hospital-green);
    color: var(--white);
    cursor: pointer;
    border: none;
    width: 100%;
    height: 60px;
    font-size: var(--md);
    font-weight: bold;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 840px) {
    .login__img {
        display: block;
    }

    .login__form a {
        margin-bottom: 0px;
    }

    .second-button {
        width: 300px;
        position: absolute;
        bottom: 0;
        margin-bottom: 25px;
    }

    .menu {
        display: block;
    }

    .navbar-left,
    .navbar-rigth {
        margin: 0px;
    }

    .navbar-left ul {
        display: none;
    }

    .navbar-rigth ul {
        margin: 0px;
    }

    .navbar-rigth ul li:first-child {
        display: none;
        margin: 0px;
    }

    .product-details {
        width: 100%;
    }

    .card-container{
        grid-template-columns: repeat(auto-fill, 140px);
        gap: 26px;
    }
    .product-card{
        width: 140px;
    }
    .product-card img{
        width: 100%;
        height: 140px;
    }
    .product-details2 {
        width: 100%;
    }
}